output.txt
node_modules
dist
.mastra
.env.development
.env
*.db
*.db-*
.netlify
.vercel
*.duckdb
*.duckdb.wal
data/
**/generated-images/
src/mastra/config/user-profile.local.ts
.pnpm-store/*
src/**/.DS_Store
